body {
  background-image: url('/images/gnu-light-wallpapers.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: inherit;
}

a:visited {
  color: blue;
}

/* Sometime the text can be unreadable because of the icon in the bg */
.unreadable {
  background-color: rgba(211, 211, 211, 0.6);
  border-radius: 2%;
}

main .paragraphe {
  /* border: 2px solid #ccc;*/
  text-align: justify;
}

main h1 {
  font-family: Brush Script MT,cursive;
  text-align: center;
  font-size: 75px;
}
main h2 {
  font-family: Brush Script MT,cursive;
  font-size: 50px;
}
main h3 {
  font-family: Brush Script MT,cursive;
  font-size: 25px;
}

#commentaires {
  overflow-x:auto;
  border-collapse: collapse;
  width: 100%;
}

#commentaires tr:first-child {
  background-color: lightgrey;
}

#commentaires tr:not(:first-child) {
  background-color: #eee;
}
#commentaires tr td:nth-child(1) {
  font-weight: bold;
  /* border: 2px solid #ccc; */
  text-align: center;
  border-radius: 0% 25% 25% 0%;
  background-color: lightgrey;
}