body {
  background-image: url('/images/gnu-light-wallpapers.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: inherit;
}

a:visited {
  color: blue;
}

/* Sometime the text can be unreadable because of the icon in the bg */
.unreadable {
  background-color: rgba(211, 211, 211, 0.6);
  border-radius: 2%;
}

main .paragraphe {
  /* border: 2px solid #ccc;*/
  text-align: justify;
}

main h1 {
  font-family: Brush Script MT,cursive;
  text-align: center;
  font-size: 75px;
}
main h2 {
  font-family: Brush Script MT,cursive;
  font-size: 50px;
}
main h3 {
  font-family: Brush Script MT,cursive;
  font-size: 25px;
}

#commentaires {
  overflow-x:auto;
  border-collapse: collapse;
  width: 100%;
}

#commentaires tr:first-child {
  background-color: lightgrey;
}

#commentaires tr:not(:first-child) {
  background-color: #eee;
}
#commentaires tr td:nth-child(1) {
  font-weight: bold;
  /* border: 2px solid #ccc; */
  text-align: center;
  border-radius: 0% 25% 25% 0%;
  background-color: lightgrey;
}

#commentForm {
  padding-bottom: 1%;
}
#commentForm input:first-child{
  width: 8%;
  border-radius: 10px;
}
#commentForm input:nth-child(2) {
  width: 75%;
  border-radius: 10px;
}
#commentForm input:nth-child(3) {
  width: auto;
  border-radius: 10px;
}
#commentForm input:nth-child(4) {
  width: auto;
  border-radius: 10px;
}

.descrip {
  width: 10%;
}

.cards {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-290%);
}

.card {
  box-shadow: 0 15px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 10%;
  display: inline-block;
  padding: 1%;
}

.card img {
  width: 100%;
  height: 50%;
  border-radius: 10% 10% 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.description {
  padding: 2px 16px;
}